@import '../../.cache/hellwal/waybar-colors.css';

* {
    font-family: 'Cousine Nerd Font';
    font-size: 13px;
}

window#waybar {
    background-color: @color1;
    color: #ffffff;
    transition-property: box-shadow;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}


button {
    opacity: 0;
    animation: fadeIn 0.1s ease-in forwards;
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @foreground;
    transition: border 0.5s;
    margin: 0 4px;
    border-radius: 5px;
}

#workspaces button:hover {
   box-shadow: inherit;
   text-shadow: inherit;
   background: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
    background: rgba(0, 0, 0, 0.30);
    border-radius: 0px;
    /*
    border: 1px solid @color14; 
    background: inherit;
    border-radius: 5px;
    */
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#clock {
    color: @foreground;
}

#custom-expand {
    color: @foreground;
    padding: 0px 10px 0px 0px;
}
#bluetooth,
#cpu,
#memory,
#wireplumber {
    padding: 2px 10px 2px 10px; 

}

#battery {
    padding: 0px 10px 0px 0px;  
}
#backlight {
    padding: 0px 8px 0px 5px;
}
#battery,
#bluetooth,
#cpu,
#memory,
#wireplumber,
#disk,
#temperature,
#network,
#custom-media,
#custom-swaync,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#custom-profile,
#mpd {
    color: @foreground;
    /*
    border-radius: 8px;
    border-bottom: 1px solid @color14; 
    margin: 2px 0px 7px 0px;
    */
}

#tray {
    padding: 0 10px;
    color: @foreground;
}

#window,
#workspaces {
    margin: 0 4px;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}


#battery.critical:not(.charging) {
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    color: #ffffff;
}

#power-profiles-daemon.balanced {
    color: #ffffff;
}

#power-profiles-daemon.power-saver {
    color: #000000;
}

label:focus {
    background-color: #000000;
}

#cpu {
/*    color: #000000; */
}

#memory {
}

#disk {
}

#backlight {
}

#network {
}

#network.disconnected {
}

#pulseaudio {
}

#pulseaudio.muted {
    color: #2a5c45;
}

#wireplumber {
}

#wireplumber.muted {
}

#custom-media {
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
}

#custom-media.custom-vlc {
}

#temperature {
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}
