@import './colors.css';

* {
    font-family: "Cousine Nerd Font";
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: @on_secondary_container;

    margin: 0;
    padding: 0;
}

/* =====================================================
 * LEFT / CENTER / RIGHT BUBBLES
 * ===================================================== */

/* LEFT touches left screen edge */

.modules-left {
    background: alpha(@secondary_container, 0.90);

    border-radius: 0px 0px 4px 0px;

    margin: 0;
    padding: 0 3px 0 0px;

    min-height: 25px;
}

/* CENTER floating */

.modules-center {
    background: alpha(@secondary_container, 0.90);

    border-radius: 0px 0px 4px 4px;

    margin: 0 5px;
    padding: 0 3px;

    min-height: 25px;
}

/* RIGHT touches right screen edge */

.modules-right {
    background: alpha(@secondary_container, 0.90);

    border-radius: 0px 0px 0px 4px;

    margin: 0 0 0 5px;
    padding: 0 0px 0 3px;

    min-height: 25px;
}

/* =====================================================
 * REMOVE INDIVIDUAL MODULE BOXES
 * ===================================================== */

#workspaces,
#clock,
#battery,
#cpu,
#memory,
#network,
#bluetooth,
#wireplumber,
#tray,
#backlight,
#temperature,
#custom-media,
#custom-swaync,
#power-profiles-daemon,
#custom-profile,
#custom-layoutIndicator,
#custom-expand,
#custom-endpoint,
#custom-idleIndicator,
#mpd,
#window {
    background: transparent;
    border: none;
    box-shadow: none;

    margin: 0;
    padding: 0 6px;

    color: @on_secondary_container;
}

/* =====================================================
 * WORKSPACES
 * ===================================================== */

#workspaces {
    padding: 0 0px;
}
#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @on_secondary_container;
    transition: border 0.5s;
    margin: 0 2px;
    border-radius: 5px;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inherit;
    text-shadow: inherit;
}

#workspaces button.active {
    background: @on_secondary_fixed;

    border-radius: 0px;
}

#workspaces button.urgent {
    background-color: @urgent-bg;
}

/* =====================================================
 * WINDOW
 * ===================================================== */

#window {
    padding-left: 14px;
    padding-right: 14px;
}

/* =====================================================
 * TRAY
 * ===================================================== */

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background: #eb4d4b;
    border-radius: 8px;
}

/* =====================================================
 * BATTERY
 * ===================================================== */

#battery.critical:not(.charging) {
    color: #ff6b6b;

    animation-name: blink;
    animation-duration: 0.8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        opacity: 0.4;
    }
}

/* =====================================================
 * TOOLTIP
 * ===================================================== */

tooltip {
    background: @secondary_container;
    border-radius: 10px;
    border: none;
}

tooltip label {
    color: @on_secondary_container;
}
